#canvasMap{

	position: absolute;
	width : 320px;
	height : 320px;
	z-index: 50;
	opacity: 0;
}

#legende {
	font-size: 12px;
	color: #003399;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #f3f0ee;
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;
	  
}